body {
  background: rgb( 60, 60, 60);
  color: whitesmoke;
}
h1 {
  font-family: monospace;
  font-size: 100px;
  text-align-last: center;
}
p {
  font-size: 20px;
  font-family: sans-serif;
}
h3 {
  font-size: 40px;
  text-align-last: center;
}
a {
  text-underline-position: below;
  color: whitesmoke;
}
li {
  font-size: 20px;
  font-family: sans-serif;
}