body {
  background: rgb( 60, 60, 60);
  color: whitesmoke;
  font-family: monospace;
}
h1 {
  font-size: 100px;
  text-align-last: center;
}
h2 {
  font-size: 60px;
  text-align-last: center;
}
p {
  font-size: 20px;
}
a {
  text-underline-position: below;
  color: purple;
}
li {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  border: 2px solid;
  padding: 5px;
  border-color: greenyellow;
}
.cheese_img {
  width: 200px;
  height: 200px;
  margin-left: 800px;
}
.bottom_header {
  margin-bottom: 40px;
  border: solid 4px;
  border-color: skyblue;
  text-align: center;
  font-size: 18px;
}
